.link-text {
  /* App - input */
  font-family: "Roboto Flex";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  /* identical to box height */

  /* Midnight Blue */
  color: #002e5d;
}

.link-container {
  padding-left: 26px;
  display: flex;
  height: 80px;
  align-items: center;
}
.link-container.img {
  height: 100%;
  width: 100%;
}
