.message-background {
  background: #002e5d;
  opacity: 0.4;
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
}

.validation-body {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  background-color: white;
  opacity: 1;
  position: absolute;
  bottom: 1.5rem;
  right: 1rem;
  left: 1rem;
  border-radius: 1rem;
  padding: 1.5rem;
  height: calc(50vh - 1.5rem);
}

.validation-body > h2 {
  margin: 0;
}

.validation-body > button {
  width: 100%;
}

.cancel-button {
  background: #eb5757;
}

.validation-body > p {
  text-align: left;
}
