.continue_button {
  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 18px 93px;
  gap: 10px;

  position: absolute;
  width: 350px;
  height: 64px;
  left: 32px;
  top: 784px;

  font-family: 'Roboto Flex';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;

  color: #FFFFFF;
  background: #0F95CE;

  border: 1px solid #0F95CE;
  border-radius: 16px;
}

.continue_button:disabled {
  color: #0F95CE;
  background: #FFFFFF;
  opacity: 0.5;
}
