.cerulean-color {
  color: #0F95CE;
}

.ghost-white-color {
  color: #F9FDFF;
}

.midnight-blue-color {
  color: #002E5D;
}

.cornflower-blue-color {
  color: #DBF4FF;
}

.white-color {
  color: #FFFFFF;
}

.burnt-sienna-color {
  color: #EB5757;
}

.cerulean-background-color {
  background: #0F95CE;
}

.ghost-white-background-color {
  background: #F9FDFF;
}

.midnight-blue-background-color {
  background: #002E5D;
}

.cornflower-blue-background-color {
  background: #DBF4FF;
}

.white-background-color {
  background: #FFFFFF;
}

.burnt-sienna-background-color {
  background: #EB5757;
}
