.mega-title-font {
  font-family: 'Roboto Flex';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
}

.big-title-font {
  font-family: 'Roboto Flex';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.medium-title-font {
  font-family: 'Roboto Flex';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
}

.mini-title-font {
  font-family: 'Roboto Flex';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
}

.text-font {
  font-family: 'Roboto Flex';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
}

.input-font {
  font-family: 'Roboto Flex';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.button-font {
  font-family: 'Roboto Flex';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
}

.big-link-font {
  font-family: 'Roboto Flex';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
}

.small-link-font {
  font-family: 'Roboto Flex';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
}

.label-font {
  font-family: 'Roboto Flex';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
}
