.email_input_group {
  position: absolute;
  width: 350px;
  height: 74px;
  left: 32px;
  top: 260px;
}

.email_label {
  position: absolute;
  left: 0%;
  right: 91.14%;
  top: 0%;
  bottom: 81.08%;

  font-family: 'Roboto Flex';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;

  display: flex;
  align-items: flex-end;

  color: #0F95CE;
}

.email_input {
  box-sizing: border-box;

  position: absolute;
  left: 0%;
  right: 0%;
  top: 24.32%;
  bottom: 0%;

  background: #FFFFFF;

  border: 1px solid #F2FBFF;
  border-radius: 8px;

  font-family: 'Roboto Flex';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  display: flex;
  align-items: flex-end;

  padding-left: 16px;

  color: #002E5D;
}
