@import "variables";
@import "fonts";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .page-bg {
    background: $page-bg;
  }

  .app-shadow {
    box-shadow: $shadow-color;
  }

  .text-primary-color {
    color: $primary-color;
  }

  .bg-primary-color {
    background-color: $primary-color;
  }

  .border-primary-color {
    border-color: $primary-color;
  }

  .placeholder-primary-color {
    &::placeholder {
      color: $primary-color;
    }
  }

  .text-secondary-color {
    color: $secondary-color;
  }

  .bg-secondary-color {
    background-color: $secondary-color;
  }

  .border-secondary-color {
    border-color: $secondary-color;
  }

  .bg-tertiary-color {
    background-color: $tertiary-color;
  }

  .text-warning-color {
    color: $warning-color;
  }

  .bg-warning-color {
    background-color: $warning-color;
  }

  .hover-warning-color:hover {
    background-color: $hover-warning-color;
  }

  .focus-warning-color:focus {
    background-color: $focus-warning-color;
  }

  .hover-primary-color:hover {
    background-color: $hover-primary-color;
  }

  .focus-primary-color:focus {
    background-color: $focus-primary-color;
  }

  .font-mega-title {
    font-family: $main-font;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
  }

  .font-big-title {
    font-family: $main-font;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
  }

  .font-medium {
    font-family: $main-font;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
  }

  .font-mini-title {
    font-family: $main-font;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
  }

  .font-text {
    font-family: $main-font;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
  }

  .font-label {
    font-family: $main-font;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
  }

  .font-input {
    font-family: $main-font;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
  }

  .font-button {
    font-family: $main-font;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
  }

  .font-big-link {
    font-family: $main-font;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
  }

  .font-small-link {
    font-family: $main-font;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
  }

  .app-button {
    @apply rounded-2xl flex items-center justify-center py-5 font-button text-white;
  }

  .app-input {
    @apply w-full rounded-md px-4 py-5 text-secondary-color font-input placeholder-primary-color;
  }

  .app-form {
    @apply mt-8 flex h-full w-full flex-col justify-between gap-4 self-center md:w-1/2 lg:w-1/3;
  }

  .app-icon-button {
    @apply flex h-12 w-12 items-center justify-center rounded-full bg-white app-shadow;
  }
}
