@import "variables";
@import "fonts";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .page-bg {
    background: $page-bg;
  }

  .app-shadow {
    box-shadow: $shadow-color;
  }

  .text-primary-color {
    color: $primary-color;
  }

  .bg-primary-color {
    background-color: $primary-color;
  }

  .border-primary-color {
    border-color: $primary-color;
  }

  .placeholder-primary-color {
    &::placeholder {
      color: $primary-color;
    }
  }

  .text-secondary-color {
    color: $secondary-color;
  }

  .bg-secondary-color {
    background-color: $secondary-color;
  }

  .border-secondary-color {
    border-color: $secondary-color;
  }

  .border-warning-color {
    border-color: $warning-color;
  }

  .text-tertiary-color {
    color: $tertiary-color;
  }

  .bg-tertiary-color {
    background-color: $tertiary-color;
  }

  .text-quarter-color {
    color: $quaternary-color;
  }

  .text-warning-color {
    color: $warning-color;
  }

  .bg-warning-color {
    background-color: $warning-color;
  }

  .hover-warning-color:hover {
    background-color: $hover-warning-color;
  }

  .focus-warning-color:focus {
    background-color: $focus-warning-color;
  }

  .hover-primary-color:hover {
    background-color: $hover-primary-color;
  }

  .focus-primary-color:focus {
    background-color: $focus-primary-color;
  }

  .bg-primary-color-light {
    background-color: $primary-color-light;
  }

  .font-mega-title {
    font-family: $main-font;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
  }

  .font-big-title {
    font-family: $main-font;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
  }

  .font-medium-title {
    font-family: $main-font;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
  }

  .font-mini-title {
    font-family: $main-font;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
  }

  .font-text {
    font-family: $main-font;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
  }

  .font-label {
    font-family: $main-font;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
  }

  .font-input {
    font-family: $main-font;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
  }

  .font-button {
    font-family: $main-font;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
  }

  .font-big-link {
    font-family: $main-font;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
  }

  .font-small-link {
    font-family: $main-font;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
  }

  .app-page {
    @apply flex min-h-screen flex-col justify-between p-8 page-bg text-secondary-color;
  }

  .app-page__header {
    @apply flex w-full flex-col gap-8 self-center md:w-1/2 lg:w-1/3;
  }

  .app-page__container {
    @apply flex h-full w-full flex-col self-center md:w-1/2 lg:w-1/3 mt-8
  }

  .app-form {
    @apply mt-8 flex h-full w-full flex-col justify-between gap-4 self-center md:w-1/2 lg:w-1/3;
  }

  .app-bottom-nav {
    @apply mb-8 flex w-full flex-row items-center justify-between self-center rounded-xl bg-white px-10 py-4 md:w-1/2 lg:w-1/3;
  }

  .app-button {
    @apply flex items-center justify-center rounded-2xl py-5 text-center text-white font-button;

    &--disabled {
      @apply cursor-not-allowed border bg-white opacity-50 text-primary-color border-primary-color;
    }
  }

  .app-icon-button {
    @apply flex h-12 w-12 items-center justify-center rounded-full bg-white app-shadow;
  }

  .app-input {
    @apply w-full rounded-md px-4 py-5 text-secondary-color font-input placeholder-primary-color;

    &--error {
      @apply text-warning-color;
    }
  }

  .app-label {
    @apply text-primary-color font-label;

    &--hidden {
      @apply opacity-0;
    }
  }

  .app-eye-password {
    @apply absolute top-6 right-4 cursor-pointer;
  }

  .app-logo {
    @apply absolute top-1/4 left-1/2 -translate-x-1/2 -translate-y-1/2 transform;
  }

  .app-register-legal__container{
    @apply sticky bottom-0 flex flex-col justify-between gap-8 self-center whitespace-pre-line rounded-lg bg-white p-4 md:w-1/2 lg:w-1/3;
  }
}
