.email_title {
  position: absolute;
  width: 62px;
  height: 28px;
  left: 32px;
  top: 104px;
}

.email_description {
  position: absolute;
  width: 350px;
  height: 72px;
  left: 32px;
  top: 148px;

  display: flex;
  align-items: flex-end;
}
