@import "fonts";

$cerulean: #0F95CE;
$midnight-blue: #002E5D;
$alice-blue: #F2FBFF;
$ghost-white: #F9FDFF;
$cornflower-blue: #DBF4FF;
$white: #FFFFFF;
$burnt-sienna: #EB5757;
$bg-linear: linear-gradient(169.42deg, #FFFFFF 10.03%, #E8F8FF 35.86%, #E8F8FF 68.88%, #FFFFFF 89.63%);
$bg-linear-2: linear-gradient(180.09deg, #FFFFFF 10.61%, #E8F8FF 37.01%, #E8F8FF 70.75%, #FFFFFF 91.96%);

$primary-color: $cerulean;
$secondary-color: $midnight-blue;
$tertiary-color: $alice-blue;
$quaternary-color: $cornflower-blue;
$warning-color: $burnt-sienna;

$hover-primary-color: #2D7DB5;
$hover-warning-color: #D14A4A;
$focus-primary-color: #3085d6;
$focus-warning-color: #EB5757;

$page-bg: $bg-linear;
$shadow-color: 0px 2px 4px rgba(0, 46, 93, 0.08);
$primary-color-light: $alice-blue;

$main-font: 'RobotoFlex', sans-serif;
