.textForm {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
  box-sizing: border-box;
}

.textInput {
  width: 20%;
  font-size: 18px;
  padding: 14px 32px 14px 16px;
  border-radius: 4px 0px 0px 4px;
  outline: none;
  font-family: 'Roboto Flex';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #0F95CE;
}

.imgField {
  left: 17.5%;
  top: 14px;
  position: absolute;
  height: 20px;
}

.disable {
  display: none;
}

.textInput:disabled {
  background-color: #FFF;
}

.textInput::placeholder {
  color: #0F95CE;
}

.textInput:focus::placeholder {
  color: transparent;
}

.imgErrorField {
  left: 21%;
  padding-bottom: 0.1em;
  position: absolute;
  height: 20px;
}

.errorMessage {
  color: #B71C1C;
  text-align: center;
  justify-content: center;
  margin-top: 1em;
  margin-left: 2.4em;
}