
.Title {
  width: 97px;
  height: 28px;

  font-family: 'Arial';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  
  padding-top: 43px;
  padding-bottom: 26px;

  margin-left: auto;
  margin-right: auto;

  color: #058CCC;
}

.MainMenu {
  // TODO: Fix if list is long, make it scroll
  @media (min-width: 600px) {
    .wrapper {
        display: grid;
        grid-template-columns: 250px 1fr;
        gap: 1rem;
    }
  }
  width: 398px;
  height: 720px;
  left: 16px;
  top: 97px;
  background: #F2FBFF;
}

#LogOut * {
  /* App - input */
font-family: 'Roboto Flex';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;

/* Burnt Sienna */
color: #EB5757;
}

#XButton {
  position: absolute;
  right: 32px;
  top: 32px;
  height: 48px;
  width: 48px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px;
  background: #FFFFFF;
  box-shadow: 0px 2px 4px rgba(0, 46, 93, 0.08);
}