#root {
  box-sizing: border-box;

  position: relative;
  width: 414px;
  height: 896px;

  background: linear-gradient(169.42deg, #FFFFFF 10.03%,
  #E8F8FF 35.86%, #E8F8FF 68.88%, #FFFFFF 89.63%);
  border: 1px solid #002E5D;
  border-radius: 40px;
}

.email_title {
  position: absolute;
  width: 62px;
  height: 28px;
  left: 32px;
  top: 104px;

  font-family: 'Roboto Flex';
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;

  color: #002E5D;
}

.email_description {
  position: absolute;
  width: 350px;
  height: 72px;
  left: 32px;
  top: 148px;

  font-family: 'Roboto Flex';
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;

  display: flex;
  align-items: flex-end;

  color: #002E5D;
}

.round_button {
  position: absolute;
  width: 48px;
  height: 48px;
  left: 32px;
  top: 32px;
}

.ellipse {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
}

.arrow {
  position: absolute;
  left: 28.7%;
  right: 26.31%;
  top: 33.33%;
  bottom: 33.33%;
}

.small_email {
  position: absolute;
  left: 0%;
  right: 91.14%;
  top: 0%;
  bottom: 81.08%;

  font-family: 'Roboto Flex';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;

  display: flex;
  align-items: flex-end;

  color: #0F95CE;
}

.email_input {

  position: absolute;
  width: 350px;
  height: 56px;
  left: 32px;
  top: 260px;

}

.input_text {
  position: absolute;
  left: 4.57%;
  right: 45.43%;
  top: 50%;
  bottom: 24.32%;

  font-family: 'Roboto Flex';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  display: flex;
  align-items: flex-end;

  color: #002E5D;
}

.rectangle {
  box-sizing: border-box;

  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;

  background: #FFFFFF;

  border: 1px solid #F2FBFF;
  border-radius: 8px;
}

.continue_button {
  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 18px 93px;
  gap: 10px;

  position: absolute;
  width: 350px;
  height: 64px;
  left: 32px;
  top: 784px;

  font-family: 'Roboto Flex';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;

  color: #FFFFFF;
  background: #0F95CE;

  border: 1px solid #0F95CE;
  border-radius: 16px;
}

.continue_button:disabled {
  color: #0F95CE;
  background: #FFFFFF;
  opacity: 0.5;
}

@font-face {
  font-family: 'Roboto Flex';
  src: url(assets/RobotoFlext.ttf);
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'Roboto Flex';
  src: url(assets/RobotoFlext.ttf);
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'Roboto Flex';
  src: url(assets/RobotoFlext.ttf);
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Roboto Flex';
  src: url(assets/RobotoFlext.ttf);
  font-style: normal;
  font-weight: 500;
}

input[type="email"] {
  font-family: 'Roboto Flex';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  display: flex;
  align-items: flex-end;

  padding-left: 16px;

  color: #002E5D;
}
