#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App {
  /* 41 home */
  box-sizing: border-box;

  position: relative;
  width: 414px;
  height: 896px;

  /* bg linear */

  background: linear-gradient(169.42deg, #FFFFFF 10.03%, #E8F8FF 35.86%, #E8F8FF 68.88%, #FFFFFF 89.63%);
  border: 1px solid #002E5D;
  border-radius: 40px;
}

.Bottom-Images {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  position: absolute;
  left: 7.62%;
  right: 4.81%;
  top: 12.47%;
  bottom: 9.01%;
  
  /* Cerulean */
  
  //background: #0F95CE;
}