#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: right;
}

.App {
  position: absolute;
  width: 398px;
  height: 896px;
  left: 16px;
  top: 0px;
  
  /* White */
  background: #FFFFFF;
  box-shadow: -4px 2px 8px rgba(0, 46, 93, 0.08);
}