@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .page-bg {
    background: linear-gradient(169.42deg, #ffffff 10.03%, #e8f8ff 35.86%, #e8f8ff 68.88%, #ffffff 89.63%);
  }

  .app-shadow {
    box-shadow: 0px 2px 4px rgba(0, 46, 93, 0.08);
  }

  .text-blue-dark {
    color: #002E5D;
  }

  .text-blue-light {
    color: #0F95CE;
  }

  .bg-blue-light {
    background-color: #0F95CE;
  }

  .swal2-border-radius {
    border-radius: 1rem !important;
  }
  .swal2-text-left {
    text-align: left !important;
  }
  .swal2-confirm-button{
    background-color: #0F95CE !important;
    border-radius: 1rem !important;
    font-size: 1rem !important;
    font-weight: 700 !important;
    width: 100% !important;
    padding: 1.25rem 0 !important;
  }
  .swal2-actions{
    width: 95% !important;
  }

  .swal2-title{
    font-size: 1.5rem !important;
    font-weight: 700 !important;
  }
}
