@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .page-bg {
    background: linear-gradient(169.42deg, #ffffff 10.03%, #e8f8ff 35.86%, #e8f8ff 68.88%, #ffffff 89.63%);
  }

  .app-shadow{
    box-shadow: 0px 2px 4px rgba(0, 46, 93, 0.08);
  }

  .text-blue-dark{
    color: #002E5D;
  }

  .text-blue-light{
    color: #0F95CE;
  }

  .bg-blue-light{
    background-color: #0F95CE;
  }
}
