::placeholder {
  /* Placeholder */


  position: absolute;
  left: 4.57%;
  right: 84.29%;
  top: 33.93%;
  bottom: 32.14%;

  /* App - input */

  font-family: 'Roboto Flex';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  display: flex;
  align-items: flex-end;

  /* Cerulean */

  color: #0F95CE;
}

