#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

Form {
  background: linear-gradient(169.42deg, #FFFFFF 10.03%, #E8F8FF 35.86%, #E8F8FF 68.88%, #FFFFFF 89.63%);
  width: 100vw;
  height: 100vh;
  margin: 0px;
  position:absolute;
  top:0px;
  right:0px;
  bottom:0px;
  left:0px;
}

Title {
  color: #0F95CE;
}

// Input {
//   box-sizing: border-box;

//   background: #FFFFFF;

//   /* Alice Blue */
//   border: 1px solid #F2FBFF;
//   border-radius: 8px;
  
//   // position: absolute;
//   // left: 4.57%;
//   // right: 72.29%;
//   // top: 50%;
//   // bottom: 24.32%;

//   /* App - input */
//   font-family: 'Roboto Flex';
//   font-style: normal;
//   font-weight: 400;
//   font-size: 16px;
//   line-height: 19px;

//   /* identical to box height */
//   display: flex;
//   align-items: flex-end;

//   /* Midnight Blue */
//   color: #002E5D;
// }

// Document-Type {
//   display: flexbox;
// }