#root {
  // max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

div.Header {
  width: 100%;
  height: 11%;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  align-content: center;
  justify-content: left;
}

h2.Title {
  // display: flex;
  font-family: 'Roboto Flex';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #0F95CE;
  justify-self: center;
  margin-right: auto;
  margin-left: auto;
}

div.Header > button {
  justify-self: flex-start;
  background-color: #FFFFFF;
  color: black;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
}

div.NewFamilyMember {
  background: linear-gradient(169.42deg, #FFFFFF 10.03%, #E8F8FF 35.86%, #E8F8FF 68.88%, #FFFFFF 89.63%);
  // border: 1px solid #002E5D;
  // border-radius: 40px;
  width: calc(100vw - 4rem);
  height: calc(100vh - 2rem);
  margin: 0px;
  position: absolute;
  top:0px;
  right:0px;
  bottom:0px;
  left:0px;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 2rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

div.DocumentType {
  width: 100%;
  height: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

div.DocumentType > div.InputWrapper {
  width: 45%;
  // height: 100%;
}

// div.DocumentType > div.InputWrapper > Input {
//   height: 3rem;
// }

div.DocumentType > div.InputWrapper > Select {
  width: 100%;
  height: 3rem;

  box-sizing: border-box;
  background: #FFFFFF;
  border: 1px solid #F2FBFF;
  border-radius: 8px;

  // Text
  font-family: 'Roboto Flex';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  display: flex;
  align-items: flex-end;
  align-items: center;

  color: #0F95CE;
}

div.InputWrapper {
  width: 100%;
  height: 5rem;

  display: flex;
  flex-direction: column;
}

a.InputName {
  font-family: 'Roboto Flex';
  font-style: normal;
  color: rgba(15, 149, 206, 1);
  align-self: left;
  margin-right: auto;
  padding-left: 0.5rem;
}


Input {
  box-sizing: border-box;
  width: 100%;
  height: 3rem;

  background: #FFFFFF;
  border: 1px solid #F2FBFF;
  border-radius: 8px;

  display: flex;
  text-align: left;
  padding-left: 4.57%;

  // Text
  font-family: 'Roboto Flex';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  display: flex;
  align-items: center;

  color: #0F95CE;
}

button.AddRelative {
  width: 100%;
  height: 4em;

  background-color: rgba(0, 0, 0, 0);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  justify-items: center;
  padding: 18px 93px;
  gap: 10px;
  opacity: 0.5;

  border: 1px solid #0F95CE;
  border-radius: 16px;

  // Text
  font-family: 'Roboto Flex';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;

  display: flex;
  align-items: flex-end;
  text-align: center;

  color: #0F95CE;
  flex: none;
  order: 0;
  flex-grow: 0;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #0F95CE;
}